/* 
#faf7f9
#c1955f
#331f0b
#79758d
#2e4140
 */

/*-------------Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  border-radius: 15px;
 }

 li.active-link>a{
   border-bottom: 1px solid #faf7f9;
   color: #faf7f9;
 }
/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
}

#home {
  background-color: #ddd;
}

#about {
  background-color: #aaa;
}

#work {
  background-color: #888;
}

#contact {
  background-color: #666;
}

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

body {
  font-family: 'Vollkorn', serif;
  background-color: #331F0B;
}

#Table {
  font-family: 'Vollkorn', serif;
  min-width: 400px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
#Table td {
  border: thin solid #dddddd;
  text-align: left;
  padding: 8px;
}
#Table th {
  border: thin solid #dddddd;
  text-align: left;
  padding: 8px;
}

#Table tr {
  border-collapse: collapse;
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #faf7f9;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 4em;
  overflow: hidden;
}

.menu{
  display: flex;
  gap: 1em;
}

.menu li:hover{
  border-radius: 15px;
  background-color: #c1955f;
  transition: 0.3s ease;
}

/* .menu a#reservation{
  margin: 1em;
} 
Not working */

.menu a {
	padding: 0 0.3em 0.5em 0.3em;
	margin: 1em 0.5em 1em 0.5em;
}

.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
  background-color: #fff;
  flex-direction: column;
}

.nav-link a{
  padding: 0 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
}


h1 {
  font-family: 'Lato', sans-serif;
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #000;
}
h1.logo a:hover a:visited {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #faf7f9;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  border-top: 0.5px solid #ddd;
}

.menu li#reservation{
  background-color: #79758d;
}



/* a:link a:visited {
  text-decoration: none;
  color: #faf7f9;
} */

/* a.active {
  text-decoration: none;
  color: #faf7f9;
} */

/* .right {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

/* .btn-nav {
  color: #58a4b0;
  padding-left: 2em;
  padding-right: 2em;
} */

/* #bg-image {
	display: block;
	max-width: 100%;
	height: 100vh;
	width: 100vw;
	max-height: 90%;
	object-fit: cover;
} */

/* #image-container {
	position: relative;
	text-align: center;
	color: white;
	height: 100vh;
	width: 100vw;
} */

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  font-size: larger;
} */

